# 원본 엑셀 파일 (대외비 - 배포 제외)
*.xlsx
*.xls
*.xlsm

# 추출된 로컬 JSON
data.json

# 시스템
desktop.ini
.DS_Store
Thumbs.db

# 에디터
.vscode/
*.swp

.vercel
.env*

# npm
node_modules/
package.json
package-lock.json

# PDF 매뉴얼 (대외비)
*.pdf
